h3 {
    font-family: 'Brush Script MT', cursive;
    color: white;
    margin: 20px; /* Maintain space from top */
    position: relative; /* Keep h1 in the normal flow */
    text-decoration: underline;

}
.friend-box {
    background-color: white;
    display: flex; 
    align-items: center; /* Align vertically */
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin: 10px 0; 
    width: 90%; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .friend-pic {
    width: 40px; /* Adjusted size for a smaller image */
    height: 40px;
    border-radius: 50%;
    margin-right: 5px; /* Reduced space between image and text */
  }
  
  .friend-text {
    font-family: 'Brush Script MT', cursive;
    color: black; /* Ensure text is visible */
    margin: 0; /* Ensure no margin around the text */
  }
  h4{
    font-family: 'Brush Script MT', cursive;
    color: white;
    margin: 20px; /* Maintain space from top */
    position: relative; /* Keep h1 in the normal flow */
    
  
  }