.logout-button {
  display: inline-block; /* Ensure it behaves like a block element */
  padding: 3px 8px; /* Same padding as the profile box */
  background-color: #000000; /* Same background color */
  color: white; /* Change text color as needed */
  border-radius: 5px; /* Same border radius */
  transition: background-color 0.3s ease; /* Same transition effect */
  font-size: 13px; /* Same font size */
  min-width: 50px; /* Same minimum width */
  text-align: center; /* Center text inside button */
  border: none; /* Remove default border */
  cursor: pointer; /* Show pointer on hover */
}

/* .logout-button:hover {
  background-color: #2980b9;
} */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-content img {
  width: 150px; /* Adjust size of the GIF */
  height: auto;
}

.popup-content p {
  margin-top: 10px;
  font-size: 18px;
}
