.profile-button {
    /* margin-top: 10vh; */
    
    display: flex; 
    align-items: center; 
    padding: 15px 30px; 
    background-color: #3498db; 
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    font-size: 24px; 
    min-width: 200px; 
    text-align: left; 
    border: none; 
    cursor: pointer; 
    position: relative;
    top: 100px; /* Adjust this value to move it down */
    z-index: -5;

}

.profile-button:hover {
    background-color: #2980b9; 
}

.profile-pic {
    width: 88px; 
    height: 80px; 
    border-radius: 50%; 
    margin: 10px; }
