.whole-card {
  place-items: center;
  display: grid;
  place-items: center;
  padding: 20px;
}

.card {
  padding: 20px 30px;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  width: 100%; /* Allow card to fill available width */
  max-width: 500px; /* Maximum width constraint */
  min-height: 50px; /* Allow card to grow based on content */

  place-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for better visuals */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.individual-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-grow: 1;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the image takes up full width of the card */
  margin-bottom: 20px; /* Adjust as needed for spacing */
}
.image {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 10px; /* Optional: rounded corners */
}
.card-title {
  font-size: 1.5rem; /* Title size */
  font-weight: bold; /* Bold text */
  margin-bottom: 10px; /* Space between title and content */
  color: black;
  word-wrap: break-word;
}

.card-text {
  color: #777; /* Gray text for a softer look */
  font-size: 1rem;
  margin-bottom: 20px;
  word-wrap: break-word;
  flex-grow: 1;
}

.card-button {
  background-color: Black; /* Button color */
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #808080; /* Darker color on hover */
}

.buttons {
  display: flex;
  justify-content: space-between;
}
